body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #000;
  border-bottom: 5px solid red;
  border-top: 5px solid red;
}

.navemp {
  font-size: 5vh;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.fa-users {
  font-size: 5vh;
  color: white;
}
.navsub {
  font-size: 2vh;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
