body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #3282e0;
  border-bottom: 5px solid #ffa126 ;
  margin-bottom: 3vh;
}

.navemp {
  font-size: 4vh;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.fa-users {
  font-size: 5vh;
  color: white;
}
.navsub {
  font-size: 1.5vh;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.user-area {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.search-button{
  margin-left: 5px;
}
